*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  --main: #111827;
  --inverted: #fff;
  --dimmed-100: #f9fafb;
  --dimmed-200: #f3f4f6;
  --primary: #047857;
  --green: #047857;
  --orange: #f59e0b;
  --red: #dc2626;

  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main);
  background-color: var(--dimmed-100);
}

a,
input,
button {
  font: inherit;
  color: inherit;
}
