*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  --main: #111827;
  --inverted: #fff;
  --primary: #059669;
  --green: #059669;
  --orange: #f59e0b;
  --red: #dc2626;

  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main);
}

a,
input,
button {
  font: inherit;
  color: inherit;
}

.Wrapper {
  max-width: 80rem;
  padding: 2.4rem;
  margin: 0 auto;
}
